FindMyServiceApp/src/conf/xml-resources/web-service-references/GeoService/wsdl/localhost_8080/FindMyService/GeoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.cs.rit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.cs.rit.com/" name="GeoService">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.cs.rit.com/" schemaLocation="http://localhost:8080/FindMyService/GeoService?xsd=1"/>
</xsd:schema>
</types>
<message name="verify">
<part name="parameters" element="tns:verify"/>
</message>
<message name="verifyResponse">
<part name="parameters" element="tns:verifyResponse"/>
</message>
<message name="updateLocation">
<part name="parameters" element="tns:updateLocation"/>
</message>
<message name="updateLocationResponse">
<part name="parameters" element="tns:updateLocationResponse"/>
</message>
<message name="removeService">
<part name="parameters" element="tns:removeService"/>
</message>
<message name="removeServiceResponse">
<part name="parameters" element="tns:removeServiceResponse"/>
</message>
<message name="addService">
<part name="parameters" element="tns:addService"/>
</message>
<message name="addServiceResponse">
<part name="parameters" element="tns:addServiceResponse"/>
</message>
<message name="registerProvider">
<part name="parameters" element="tns:registerProvider"/>
</message>
<message name="registerProviderResponse">
<part name="parameters" element="tns:registerProviderResponse"/>
</message>
<message name="goOffline">
<part name="parameters" element="tns:goOffline"/>
</message>
<message name="goOfflineResponse">
<part name="parameters" element="tns:goOfflineResponse"/>
</message>
<message name="goOnline">
<part name="parameters" element="tns:goOnline"/>
</message>
<message name="goOnlineResponse">
<part name="parameters" element="tns:goOnlineResponse"/>
</message>
<message name="requestService">
<part name="parameters" element="tns:requestService"/>
</message>
<message name="requestServiceResponse">
<part name="parameters" element="tns:requestServiceResponse"/>
</message>
<portType name="GeoService">
<operation name="verify">
<input wsam:Action="http://controller.cs.rit.com/GeoService/verifyRequest" message="tns:verify"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/verifyResponse" message="tns:verifyResponse"/>
</operation>
<operation name="updateLocation">
<input wsam:Action="http://controller.cs.rit.com/GeoService/updateLocationRequest" message="tns:updateLocation"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/updateLocationResponse" message="tns:updateLocationResponse"/>
</operation>
<operation name="removeService">
<input wsam:Action="http://controller.cs.rit.com/GeoService/removeServiceRequest" message="tns:removeService"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/removeServiceResponse" message="tns:removeServiceResponse"/>
</operation>
<operation name="addService">
<input wsam:Action="http://controller.cs.rit.com/GeoService/addServiceRequest" message="tns:addService"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/addServiceResponse" message="tns:addServiceResponse"/>
</operation>
<operation name="registerProvider">
<input wsam:Action="http://controller.cs.rit.com/GeoService/registerProviderRequest" message="tns:registerProvider"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/registerProviderResponse" message="tns:registerProviderResponse"/>
</operation>
<operation name="goOffline">
<input wsam:Action="http://controller.cs.rit.com/GeoService/goOfflineRequest" message="tns:goOffline"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/goOfflineResponse" message="tns:goOfflineResponse"/>
</operation>
<operation name="goOnline">
<input wsam:Action="http://controller.cs.rit.com/GeoService/goOnlineRequest" message="tns:goOnline"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/goOnlineResponse" message="tns:goOnlineResponse"/>
</operation>
<operation name="requestService">
<input wsam:Action="http://controller.cs.rit.com/GeoService/requestServiceRequest" message="tns:requestService"/>
<output wsam:Action="http://controller.cs.rit.com/GeoService/requestServiceResponse" message="tns:requestServiceResponse"/>
</operation>
</portType>
<binding name="GeoServicePortBinding" type="tns:GeoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="goOffline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="goOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoService">
<port name="GeoServicePort" binding="tns:GeoServicePortBinding">
<soap:address location="http://localhost:8080/FindMyService/GeoService"/>
</port>
</service>
</definitions>